
*{
  
font-family: 'Roboto', sans-serif;

}
input{
    height: 30px;
    width: 100px;
    text-align: center;
    margin-left: 40%;
    margin-top: 10px;
    /* padding-top: 10px; */
    font-style: oblique;
    font-size: large;

}
.butt
{
    width: 107px;
    height: 35px;
}
#pres
{
    display: flex; 
   

}
#main
{
    margin-top: 20vh;
    width: 30%;
    height: 40vh;
    margin-left: 35%;
    background-color: cornflowerblue;
    border-radius: 5px;
}
#image
{
    float: left;
    margin-top: 20px;
    margin-left: 78px;
    font-size: large;
}
#details
{margin-left: 80px;
    margin-top: 60px;
    font-size: large;
}
#min
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.futu
{
    display: flex;
    width: 40%;
    text-align: center;
    margin-left: 35%;
    
}
.date
{
    float: right;
}
ol
{
list-style: none;
margin-top: 80px;
}
li{
    list-style: none;
}
#ic
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}
.navbar
{
    display: flex;
    height: 50px;
    text-align: center;
    /* margin-left: 45%; */
    color: rgb(31, 31, 34);
    background-color: powderblue;
    /* padding: 10px; */
    width: 100%;
    font-size: larger;
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: bold;
    border-radius: 7px;
}
.left
{
  margin-left: 43%;
  margin-right: 5%;
  padding-top:15px;

}
a{
    text-decoration: none;
    text-align: center;

}
a:hover{
    color: black;
}
a:active
{
    color: red;
}
.right
{
    padding-top: 15px;
}
.bg-img
{
    margin-top: 10px;
    width: 100%;
    height: 91.5vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./dawid-zawila--G3rw6Y02D0-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
}
.text
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

